@charset "ISO-8859-1";
#css{
    color:lightgreen
}

.class{
    color:aqua
}
#id{
    background-color:lightgreen;
    color:brown
}
.container{
    background-color:aquamarine
}
 h5{
    color:red
}
h6{
    color:blueviolet
}
.container2{
    background-color:lightcoral
}
.odd{
    color:blue;
    text-align:center
}
.even{
    color:red;
    text-align:center
}
.pro{
    color:blueviolet
}

